/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Ignore the following files in the /backend folder

/backend/vendor/
/backend/node_modules/
/backend/npm-debug.log

# Laravel 4 specific
/backend/bootstrap/compiled.php
/backend/app/storage/

# Laravel 5 & Lumen specific
/backend/public/storage
/backend/public/hot
/backend/storage/*.key
/backend/.env.*.php
/backend/.env.php
/backend/.env
/backend/Homestead.yaml
/backend/Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
/backend/.rocketeer/
